<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>test</title>

</head>
<body>
    <form method="post" th:action="@{/user}">
        <div class="form-group">
            <label>Username
                <input type="text" name="username" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Email
                <input type="email" name="email"
                       th:value=${user.email}" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Password
                <input type="password" name="password" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Verify Password
                <input type="password" name="verify" class="form-control">
            </label>

        </div>
        <div class="form-group">
            <input type="submit" name="Submit" class="btn btn-success">
        </div>
<!--        <p th:unless="${password} == ${verify}">Passwords must match</p>-->
    </form>
</body>
</html>